<template>
  <v-layout>
    <v-flex xs12 sm4 md4 offset-xs0 offset-sm4 offset-md-4>
      <v-card>
        <v-card-title>
          <div class="headline">Авторизуйтесь</div>
        </v-card-title>
        <v-card-text>
          <v-text-field
            label="Пароль"
            type="password"
            @keypress.enter="tryLogin"
            v-model="password"
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click.stop="tryLogin">Войти</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "Auth",
  data() {
    return {
      password: null
    };
  },
  methods: {
    tryLogin() {
      this.$store.commit("WRITE_PASSWORD", this.password);
      this.$store.dispatch("checkLogin");
    }
  },
  mounted() {
    this.password = this.$store.state.password;
  }
};
</script>

<style scoped></style>
