<template>
  <v-layout align-center wrap>
    <v-flex xs12 sm6 md6>
      <v-container>
        <v-card>
          <v-card-title>
            <div class="headline">Настройки</div>
          </v-card-title>
          <v-card-text>
            <v-text-field
              label="Значение ссылки по истечении срока"
              v-model="_data.config.placeholderURL"
            ></v-text-field>
            <v-layout column align-center>
              <v-btn class="primary" @click.stop="saveConfig">
                СОХРАНИТЬ
              </v-btn>
              <v-btn flat @click="destroyAllDialog = true">
                ОЧИСТИТЬ ВСЁ
              </v-btn>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-container>
    </v-flex>
    <v-flex xs12 sm6 md6>
      <v-container>
        <v-card>
          <v-card-title>
            <div class="headline">Ссылки</div>
          </v-card-title>
          <v-card-text>
            <v-list two-line="" v-if="links.length > 0">
              <v-list-tile
                v-for="link in links"
                :key="link.href + ':' + link.date"
              >
                <v-list-tile-content>
                  <v-list-tile-title>
                    <a target="_blank" :href="link.href">{{ link.href }}</a>
                  </v-list-tile-title>
                  <v-list-tile-sub-title>
                    <a target="_blank" :href="link.origin">{{ link.origin }}</a>
                    <span v-if="Date.parse(link.date) >= Date.now()">
                      - истекает</span
                    >
                    <span v-else class="red--text"> - истекла</span>
                    {{ link.date }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-btn icon @click.stop="rmLink(link.href)">
                    <v-icon>delete</v-icon>
                  </v-btn>
                </v-list-tile-action>
              </v-list-tile>
            </v-list>
            <div v-else>Пока нет ссылок.</div>
          </v-card-text>
        </v-card>
      </v-container>
      <v-container>
        <v-card>
          <v-card-title>
            <div class="headline">Добавить ссылку</div>
          </v-card-title>
          <v-card-text>
            <v-text-field
              label="Ссылка"
              v-model="newOrigin"
              @keypress.enter="addLink"
            ></v-text-field>
            <v-text-field
              label="Дата истечения (последний день) ДД/ММ/ГГГГ"
              v-model="newDate"
              @keypress.enter="addLink"
            ></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" @click.stop="addLink">Добавить</v-btn>
          </v-card-actions>
        </v-card>
      </v-container>
    </v-flex>
    <v-dialog v-model="destroyAllDialog" width="500">
      <v-card>
        <v-card-title>
          <div class="headline">Удалить все данные?</div>
        </v-card-title>
        <v-card-text>
          Учтите, что данное действие очистит все настройки и сохранённые
          данные, вернув приложение в первоначальное состояние.
        </v-card-text>
        <v-card-actions>
          <v-btn color="error" @click.stop="clearAllData">Очистить</v-btn>
          <v-btn color="primary">Отменить</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  name: "Settings",
  data() {
    return {
      destroyAllDialog: false,
      links: [
        {
          href: "N/A",
          origin: "N/A",
          date: "N/A"
        }
      ],
      config: {
        placeholderLink: "N/A"
      },
      newOrigin: null,
      newDate: null
    };
  },
  methods: {
    saveConfig() {
      let body = new FormData();
      body.append("body", JSON.stringify(this.config));
      body.append("password", this.$store.state.password);
      fetch("http://tinyurl.profi-dz.ru/admin/api/saveConfig.php", {
        method: "post",
        body: body
      })
        .then(resp => resp.json())
        .then(() => {
          this.loadData();
        });
    },
    clearAllData() {
      fetch(
        "http://tinyurl.profi-dz.ru/admin/api/clearAll.php?password=" +
          this.$store.state.password,
        {}
      )
        .then(resp => resp.json())
        .then(() => {
          this.loadData();
          this.destroyAllDialog = false;
        });
    },
    addLink() {
      let body = new FormData();
      body.append("origin", this.newOrigin);
      body.append("date", this.newDate);
      body.append("password", this.$store.state.password);
      fetch("http://tinyurl.profi-dz.ru/admin/api/addLink.php", {
        method: "post",
        body: body
      })
        .then(resp => resp.json())
        .then(() => {
          this.loadData();
        });
    },
    rmLink(href) {
      let body = new FormData();
      body.append("href", href);
      body.append("password", this.$store.state.password);
      fetch("http://tinyurl.profi-dz.ru/admin/api/rmLink.php", {
        method: "post",
        body: body
      })
        .then(resp => resp.json())
        .then(() => {
          this.loadData();
        });
    },
    loadData() {
      fetch(
        "http://tinyurl.profi-dz.ru/admin/api/get.php?password=" +
          this.$store.state.password
      )
        .then(resp => resp.json())
        .then(resp => {
          this.links = resp.data.links;
          this.config = {};
          resp.data.config.forEach(value => {
            this.config[value.field] = value.value;
          });
        });
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style scoped></style>
