<template>
  <v-app>
    <v-content>
      <v-container fill-height>
        <v-layout align-center fill-height>
          <v-flex text-xs-center>
            <Settings v-if="$store.state.authorized"></Settings>
            <Auth v-else></Auth>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "App",
  components: {
    Settings: () =>
      import(/* webpackChunkName: "settings" */ "./components/Settings"),
    Auth: () => import(/* webpackChunkName: "auth" */ "./components/Auth")
  },
  data() {
    return {};
  },
  methods: {},
  mounted() {
    this.$store.dispatch("checkLogin");
  }
};
</script>

<style lang="scss">
#app {
  background: url("assets/wallpaper.jpg");
  background-size: cover;
}
</style>
